@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }


<!--sidebar start-->
<aside>
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu">

			@foreach (var childPage in home.Children)
			{
				if (childPage.Id == CurrentPage.Id)
				{
					 <li class="active">
						<a class="" href="@childPage.Url">@childPage.GetProperty("PageTitle")</a>
					</li> 
				}
				else
				{
					<li>
						<a class="" href="@childPage.Url">@childPage.Name</a>
					</li> 
				}
			}
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->