<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Profile ANY>
<!ATTLIST Profile id ID #REQUIRED>
<!ELEMENT Foodproducts ANY>
<!ATTLIST Foodproducts id ID #REQUIRED>
 
<!ELEMENT Basepage ANY>
<!ATTLIST Basepage id ID #REQUIRED>
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Dashboard ANY>
<!ATTLIST Dashboard id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1103" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-06-27T18:21:11" updateDate="2015-06-27T18:21:11" nodeName="Dashboard" urlName="dashboard" path="-1,1103" isDoc="" nodeType="1060" creatorName="Lars" writerName="Lars" writerID="0" template="1094" nodeTypeAlias="Home">
    <Foodproducts id="1104" parentID="1103" level="2" creatorID="0" sortOrder="0" createDate="2015-06-27T18:21:55" updateDate="2015-06-27T19:07:33" nodeName="FoodProducts" urlName="foodproducts" path="-1,1103,1104" isDoc="" nodeType="1101" creatorName="Lars" writerName="Lars" writerID="0" template="1100" nodeTypeAlias="Foodproducts">
      <pagetitle><![CDATA[Food Products]]></pagetitle>
    </Foodproducts>
    <Profile id="1119" parentID="1103" level="2" creatorID="0" sortOrder="1" createDate="2015-07-13T19:57:27" updateDate="2015-07-13T19:57:27" nodeName="myprofile" urlName="myprofile" path="-1,1103,1119" isDoc="" nodeType="1118" creatorName="Lars" writerName="Lars" writerID="0" template="1117" nodeTypeAlias="Profile">
      <pagetitle><![CDATA[Min Profil]]></pagetitle>
    </Profile>
  </Home>
</root>