@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<section class="wrapper">
	<div class="row">
		<div class="col-lg-6">
			<h3 class="page-header">@Umbraco.Field("PageTitle")</h3>
			@Html.Partial("Breadcrumb")
		</div>
	</div>

	@Html.Action("RenderUserData","UserDataSurface")

</section>