@inherits Umbraco.Web.Mvc.UmbracoViewPage<object>
@{
	Layout = "Master.cshtml";
}


<section class="wrapper">
	<!--Food Products start-->
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">@Umbraco.Field("PageTitle")</h3>
			@Html.Partial("Breadcrumb")
		</div>
	</div>
	@Html.Action("RenderFoodProductsList","FoodProductsListSurface")
</section>
