@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<section class="wrapper">
	
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">@Umbraco.Field("PageTitle")</h3>
			@Html.Partial("Breadcrumb")
		</div>
	</div>
	
	@if (!HttpContext.Current.User.Identity.IsAuthenticated)
	{ 
		@Html.Action("RenderAccount","AccountSurface")
	}
	
</section>


